{% extends "Pizzas/base.html" %}

{% block page_header %}
 <div class="jumbotron">
    <img src="https://www.gstatic.com/bfe/apps/website/img/h/87450465-pizza-1440.jpg" alt="Pizza", width="300", height="300">
    <h1 class="display-3">We serve you good.</h1>
    <p class="lead">Better ingredients, Better Pizza! Welcome to Pizzeria!</p>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>
 </div>

 <p> 
 </p> 

{% endblock page_header %}