{% extends "Pizzas/base.html" %}

{% block content %}

    <p> Pizza: {{ pizza }} </p>

    <ul>

        {% for topping in toppings %}


        <li> 
            
            <p>{{ topping.name|linebreaks }} </p> 
            <p>
                <a href="{% url 'pizzas:edit_topping' topping.id %}">Edit topping</a>
            </p>
        </li> 

        {% empty %}

        <li> No toppings are added yet. </li>

            {% endfor %}

    </ul>
    <p>
        <a href="{% url 'Pizzas:new_topping' pizza.id %}">Add a new topping</a>
    </p>
    <ul>
        
        {% for comment in comments %}
        <li>
             <p> {{ comment.name|linebreaks }}</p>
        </li>
        {% empty %}

            <li> No comments. Please comment!</li>

        {% endfor %}

        </li>

    </ul>
    
    <p>
        <a href="{% url 'Pizzas:new_comment' pizza.id %}">Add a new comment</a>
    </p>
    
{% endblock content %}

